.header__input {
  display: flex;
  align-items: center;
  background-color: rebeccapurple;
  padding: 10px;
  margin-left: 10px;
  border-radius: 99px;
  height: 50px;
  width: 210px;
}
.icon {
  width: 20px;
  height: 20px;
}
